.body {
  font-family: 'Times New Roman', Times, serif;
}

.dark {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.light {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.bluesky {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-bottom: 2px solid gold;
  }

.Heading {
  color: #61dafb;
  margin-left: 1rem;  
}

.Heading-Blue {
  color: whitesmoke;
  margin-left: 1rem;  
}

.ThemeSelector{
  margin-top: 2vh;
  color: gold;
  cursor: pointer;
}

.ThemeSelector:hover .Theme {
  display:block;
}

.Theme {
  display: none;
  margin-top: 1vh;
}

.ThemeButton-dark {
  border: none;
  margin: 1vh;
  height: 20px;
  width: 4rem;
  background-color: black;
  color: gold;
  cursor: pointer;
}

.ThemeButton-light {
  border: none;
  margin: 1vh;
  height: 20px;
  width: 4rem;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

.ThemeButton-bluesky {
  border: none;
  margin: 1vh;
  height: 20px;
  width: 4rem;
  background-color: skyblue;
  color:white;
  cursor: pointer;
}

.Balance {
  display: flex;
  border: 2px solid gold;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
}

.Balance-heading-normal {
  color: #61dafb;
  margin: 10px;
}

.Balance-heading-blue {
  color: whitesmoke;
  margin: 10px;
}

.Account {
  border: 2px solid gold;
  margin-top: 5vh;
  text-align: center;
}

.Account-heading-normal {
  color: #61dafb;
}

.Account-heading-blue {
  color: whitesmoke;
}

.Account input {
  width: 12vw;
  margin: 1vw;
}

.Transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#transToShow {
  margin-bottom: 5vh;
}

#transToShow tr td {
  text-align: justify;
  border: 1px dotted gold;
  padding: 1vh 1vw 1vh 0.5vw;
}

.newTransactionsToShow{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #61dafb;    }
  49%{    color: #61dafb; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #61dafb;    }
}

.noTransactions {
  color: red;
  animation-name: noTransactionsAnimation;
  animation-duration: 1s;
  animation-iteration-count: initial;
}
@keyframes noTransactionsAnimation {
  0%{color:red;}
  25%{color: transparent;}
  50%{color: red;}
  75%{color: transparent;}
  100%{color:red;}
}


.Transaction {
  margin-top: 5vh;
  border: 2px solid gold;
}

.Transaction-heading-normal {
  color: #61dafb;
}

.Transaction-heading-blue {
  color: whitesmoke;
}

.Transaction input {
  margin: 10px;
}

.amount {
  padding-left: 2.4rem;
  text-align: left;
}

.type {
  padding-left: 2.4rem;
  text-align: left;
}

.type p {
  display: inline;
}

#particulars {
  width: 15.5rem;
}

#amount {
  width: 15.5rem;
}

#inflow {
  margin-left: 6vw;
  background-color: #61dafb;
  color: white;
  font-size: large;
  font-weight: bold;
  border-style: hidden;
  height: 2rem;
  width:6rem;
}

#outflow {
  background-color: #61dafb;
  color: white;
  font-size: large;
  font-weight: bold;
  border-style: hidden;
  height: 2rem;
  width:6rem;
}

@media (max-width:768px) {
  .Transaction, .amount, .type, .Account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #inflow, #outflow, #amount, .amount, .type {
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 0rem;
  }

  .App-logo {
    height: 5vmin;
  }
  
  .Account input {
    width: auto;
  }

}


@media (max-width:619px) {
  .Heading {
    font-size: large;
  }
}

@media (max-width:349px) {
  .Heading {
    font-size: small;
  }

  #amount {
    width: 10rem;
  }
  .type p {
    font-size: small;
    margin-left: 10vw;
  }
}